@import "tailwindcss";

html,
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("/image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
pre::after {
  content: "_";
  opacity: 0.4;
}



[data-radix-scroll-area-thumb] {
  background-color: rgba(124, 255, 178, 0.4);
  border-radius: 999px;
}

[data-radix-scroll-area-thumb]:hover {
  background-color: rgba(124, 255, 178, 0.6);
}
.group:hover [data-radix-scroll-area-scrollbar] {
  opacity: 1;
}